/* import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=PT+Serif:wght@700&display=swap');

/* general page style */
:root {
  --test-card-color: #dfdfdf;
  --test-button-color: #cecece;
  --test-button-hover-color: #bebebe;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

br {
  margin-bottom: 1rem;
}

body {
  padding: 0rem;
  margin: 0rem;
}

h1, h2, h3 {
  font-family: 'PT Serif', serif;
}

.nav-bar, footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  transition: all ease-out 250ms;
  font-size: 0.75rem;
  text-transform: uppercase;
  align-items: center;
  position: relative;
}

.nav-bar > div > a::before, .nav-bar > div > a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  transition: 0.3s ease;
}

.nav-bar > div > a::before {
  top: -0.5rem;
  left: -0.5rem;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.nav-bar > div > a::after {
  right: -0.5rem;
  bottom: -0.5rem;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

.nav-bar > div > a:hover::before, .nav-bar > div > a:hover::after {
  width: 0.5rem;
  height: 0.5rem;
  border-color: #000;
}

.nav-bar > div {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon {
  height: 2rem;
  width: 2rem;
}

footer img {
  max-width: 2rem;
  max-height: 2rem;
}

footer a {
  text-decoration: none;
}

.content {
  max-width: 64rem;
  margin: auto;
  padding: 2rem;
  position: relative;
}

button {
  background-image: linear-gradient(to right, black, white, black, white);
  background-size: 400% 100%;
  font-size: 2rem;
  cursor: pointer;
  transition: all 500ms;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 2rem;
  color: black;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  color: white;
}

button:hover {
  background-position: right;
}

/* home page style */
.introduction {
  /* align-self: flex-end; */
  margin: 6rem 4rem;
}

.introduction h1 {
  margin-bottom: 0rem;
  font-size: 2rem;
}

.introduction p {
  margin-bottom: 3rem;
}

#hero {
  background: linear-gradient(-45deg, lightblue, rgb(105, 163, 211), lightblue);
  background-size: 300% 100%;
  height: calc(100vh + 5rem);
  width: 100vw;
  animation-duration: 15s;
  animation-name: sky-anim;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  clip-path: polygon(0 0, 100% 0, 100% calc(100vh + 3rem), calc(50vw + 10rem) calc(100vh + 3rem), 50vw 100%, calc(50vw - 10rem) calc(100vh + 3rem), 0 calc(100vh + 3rem));
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
  overflow: clip;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  flex-grow: 0;
  max-width:100%;
}

@keyframes sky-anim {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cloud {
  z-index: -1;
  animation-name: cloud-anim;
  position: absolute;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  left: 100%;
  filter: opacity(0.75);
}

.cloud.small {
  height: 0.5rem;
  width: 5rem;
}
.cloud.big {
  height: 6rem;
  width: 12rem;
}
.cloud.med {
  height: 4rem;
  width: 4rem;
}
.cloud.wave-1 {
  animation-delay: 0ms;
}
.cloud.wave-2 {
  animation-delay: 30ms;
}
.cloud.wave-3 {
  animation-delay: 500ms;
}
.cloud.wave-4 {
  animation-delay: 3s;
}
.cloud.wave-5 {
  animation-delay: 4s;
}
.cloud.wave-6 {
  animation-delay: 12s;
}
.cloud.wave-7 {
  animation-delay: 14s;
}
.cloud.top {
  top: calc(50vh - 4rem);
}
.cloud.center {
  top: calc(50vh - 3rem);
}
.cloud.bottom {
  bottom: 75vh;
}
.cloud.b-bottom {
  bottom: 30vh;
}
.cloud.fast {
  animation-duration: 12s;
}
.cloud.slow {
  animation-duration: 20s;
  filter: opacity(0.5);
}

@keyframes cloud-anim {
  100% {
    left: -100%;
  }
}

.cloud-container {
  width: 100vw;
  overflow: clip;
  position: absolute;
  top: 0rem; 
  left: 0rem;
  height: 100%;
}

#hero .container {
  display: flex;
  margin: 2rem auto;
  max-width: 56rem;
}

.plane {
  animation-duration: 0.5s;
  animation-name: plane-anim;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
  transform: scale(1);
  opacity: 1;
}

@keyframes plane-anim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  1% {
    transform: scale(1);
    opacity: 1;
  }
  10% {
    transform: translateY(3rem) scale(0.5);
  }
  100% {
    left: 0rem; 
    top: 0rem;
    transform: scale(0);
    opacity: 1;
  }
}

.content.home-page {
  position: relative; 
  display: block;
  top: 100vh;
}

@media screen and (max-width: 20rem) {
  .introduction {
    margin: 3rem 1rem;
  }
  .nav-bar, footer {
    margin: 0rem 1rem;
  }
}

/* projects page style */
.project-section, .art-section {
  margin: 3rem 0rem 6rem 0rem;
}

.project-card {
  border-radius: 1rem;
  background-color: var(--test-card-color);
  display: flex;
  margin-bottom: 3rem;
  box-shadow: 0rem 0rem 2rem var(--test-card-color);
  z-index: 1;
  position: relative;
}

.project-card:hover {
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.3);
  margin: 0rem -1rem 3rem -1rem;
  transition: all 0.3s ease-in-out;
  background-color: #e5e5e5;
}

.project-card:hover > .content {
  padding: 2rem 2rem 0rem 2rem;
  transition: all 0.3s ease-in-out;
}

.project-card > .content {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 3rem 0rem 3rem;
  max-width: 50rem;
  margin: auto;
  align-items: flex-end;
  align-self: center;
}

.project-card::before, .project-card::after {
  content: "";
  position: absolute;
  width: 0rem;
  height: 0rem;
  z-index: 1;
  transition: 0.5s ease;
}

.project-card::before {
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  top: 1rem;
  left: 1rem;
}

.project-card::after {
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  right: 1rem;
  bottom: 1rem;
}

.project-card:hover::before, .project-card:hover::after {
  width: 3rem;
  height: 3rem;
  border-color: white;
}

@media screen and (max-width: 60rem) {
  .project-card > .content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .project-card:hover > .content {
    padding: 2rem 2rem 0rem 2rem;
    transition: all 0.3s ease-in-out;
  }

  .art-container {
    width: 30rem;
  }

  .project-image-container {
    width: 30rem;
  }
}

@media screen and (max-width: 576px) {
  .project-card .image-container {
    width: 100%;
  }

  .art-container {
    width: 40rem;
  }

  .project-image-container {
    width: 100%;
  }
}

.project-card .description {
  margin-bottom: 3rem;
  width: 40%;
  min-width: 10rem;
}

.project-card p {
  margin-bottom: 3rem;
}

.project-card a {
  cursor: pointer;
  transition: all 250ms ease-out;
  border-radius: 0.5rem;
  border: 1px solid var(--test-button-hover-color);
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.project-card a::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--test-button-hover-color);
  border-radius: 0.25rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  transition: 0.3s;
}

.project-card a:hover::after {
  width: 100%;
}

.project-card .image-container {
  height: 22rem;
  display: flex;
  flex: 1 0 auto;
  max-width: 25rem;
}

.project-card img {
  object-fit: cover;
  max-width: 100%;
}

.art-section > .content {
  display: flex;
  padding: 0rem;
  flex-wrap: wrap;
  gap: 1rem;

}

.art-container {
  display: flex;
  max-width: 25rem;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 100%;
}

.art-container:hover {
  filter: opacity(0.75); 
  transition: all 0.3s ease-in-out;
}

.art-container img {
  object-fit: cover;
  width: 100%;
}

/* about page style */
.profile {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  justify-content: space-between;
}

.profile > .description {
  max-width: 32rem;
  min-width: 18rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
  flex: 1 1 6rem;
}

.profile .image-container {
  display: flex;
  max-width: 25rem;
  width: 18rem;
  height: 25rem;
  background: var(--test-button-color);
}

.profile img {
  width: 100%;
  object-fit: cover;
}

.technical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem;
  width: 100%;
  grid-gap: 2rem;
}

.personal-background {
  margin-bottom: 4rem;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  place-content: center;
  height: max-content;
  min-height: 3rem;
}

.personal-background .container {
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
  gap: 1rem;
  display: flex;
  height: 100%;
}

.personal-background .arrow {
  background: var(--test-button-color);
  padding: 1rem 2rem;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
  margin: auto;
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.technical > * {
  border-radius: 1rem;
  border: 1px solid var(--test-card-color);
  padding: 2rem;
}

.technical ul {
  list-style-type: none;
  padding: 0rem;
}

@media screen and (max-width: 52rem) {
  .profile .image-container {
    margin: auto;
    width: 32rem;
  }

  .technical {
    grid-template-columns: repeat(2, 1fr);
  }

  .personal-background .arrow {
    padding: 0.5rem 1rem;
  }
}



/* project detail page style */
.project-block {
  border-radius: 0.5rem;
  background-color: var(--test-card-color);
  display: flex;
  margin: 2rem -2rem 3rem -2rem;
  box-shadow: 0rem 0rem 2rem var(--test-card-color);
  justify-content: center;
}

.project-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.project-summary > p {
  max-width: 32rem;
  min-width: 12rem;
}

.project-summary > div {
  max-width: 18rem;
}

.project-image-container {
  flex: 1 0 auto;
  max-width: 56rem;
}

.project-image-container > img {
  object-fit: cover;
  max-width: 100%;
}



/* animations */
/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 1:18:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
 .tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.tilt-in-top-1:nth-child(1) {
  animation-delay: 500ms;
}
.tilt-in-top-1:nth-child(2) {
  animation-delay: 1000ms;
}
.tilt-in-top-1:nth-child(3) {
  animation-delay: 1500ms;
}

.technical .tilt-in-top-1:nth-child(1) {
  animation-delay: 1s;
}

.technical .tilt-in-top-1:nth-child(2) {
  animation-delay: 1.5s;
}
.technical .tilt-in-top-1:nth-child(3) {
  animation-delay: 2s;
}

.tilt-in-top-1.project-block {
  animation-delay: 1s;
}
.tilt-in-top-1.project-summary {
  animation-delay: 1.5s;
}
.tilt-in-top-1:nth-child(3).project-section {
  animation-delay: 2.0s;
}
.tilt-in-top-1:nth-child(4).project-section {
  animation-delay: 2.5s;
}
.tilt-in-top-1:nth-child(5).project-section {
  animation-delay: 3.0s;
}
.tilt-in-top-1:nth-child(6).project-section {
  animation-delay: 3.5s;
}
.tilt-in-top-1:nth-child(7).project-section {
  animation-delay: 4.0s;
}
.tilt-in-top-1:nth-child(8).project-section {
  animation-delay: 4.5s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 1:31:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */ 
 
 .flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
.flip-in-hor-bottom:nth-child(1) {
  animation-delay: 0ms;
}
.flip-in-hor-bottom:nth-child(2) {
  animation-delay: 500ms;
}
.flip-in-hor-bottom:nth-child(3) {
  animation-delay: 1000ms;
}
.flip-in-hor-bottom:nth-child(4) {
  animation-delay: 1500ms;
}
.flip-in-hor-bottom:nth-child(5) {
  animation-delay: 2000ms;
}
.flip-in-hor-bottom:nth-child(6) {
  animation-delay: 2500ms;
}
.flip-in-hor-bottom:nth-child(7) {
  animation-delay: 3000ms;
}
.flip-in-hor-bottom:nth-child(8) {
  animation-delay: 3500ms;
}
.flip-in-hor-bottom:nth-child(9) {
  animation-delay: 4000ms;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 22:54:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 .slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
 @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-top:nth-child(1) {
  animation-delay: 0s;
}

.slide-in-blurred-top:nth-child(2) {
  animation-delay: 0.5s;
}
